.container-form {
    width: 384px;
    display: flex;
    height: 598px;
    border-radius: 16px;
    background-color: #FDFEFF;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.img-orkut {
    height: 32px;
    width: 32px;
}

.input-container {
    position: relative;
    margin-bottom: 24px;
}

.input-container-flex {
    position: relative;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.title {
    color: #ED6D25;
    font-family: SF Pro Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin-top: 13px;
    line-height: normal;
}

.input {
    width: 336px;
    height: 51px;
    outline: none;
    border-style: none;
    border-radius: 8px;
    background-color: #EFF3F8;
    font-family: Roboto Flex;
    font-size: 16px;
    font-weight: 400;
    color: #868686;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 12px;
}

.input-register {
    width: 349px;
    height: 51px;
    outline: none;
    border-style: none;
    border-radius: 8px;
    background-color: #EFF3F8;
    color: #868686;
    font-family: Roboto Flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 12px;
}

.input-select {
    width: 172px;
    height: 48px;
    outline: none;
    border-style: none;
    border-radius: 8px;
    background-color: #EFF3F8;
    color: #868686;
    font-family: Roboto Flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 12px;
}

.invalid-input-select {
    outline: none;
    width: 341px;
    height: 51px;
    margin: 5px;
    border-radius: 8px;
    background-color: #EFF3F8;
    border-color: red;
}

.input-flex {
    width: 162px;
    height: 49px;
    outline: none;
    margin: 5px;
    border-style: none;
    border-radius: 8px;
    background-color: #EFF3F8;
    font-family: Roboto Flex;
    font-size: 16px;
    color: #868686;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 12px;
}

.input:focus {
    box-shadow: none;
}

.label-float label{
    pointer-events: none;
    position: absolute;
    margin-left: 15px;
    top: 0;
    left: 0;
    margin-top: 15px;
    transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
  font-size: 13px;
  margin-top: 0;
  border-color: none;
}

.description-input {
    width: 44px;
    height: 19px;
    font-family: Inter;
    color: #868686;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../../assets/CaretDown.png) no-repeat center right #FFF;
    font-size: 15px;
    padding-right: 20px;
}

.form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.brand-form {
    text-align: center;
}

.password-flex {
    display: flex;
    align-items: center;
    margin-right: 50%;
}

.password-flex .checkmark {
    display: block;
    background-color: #ED6D25;
}

.flex-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    gap: 10px;
}

.flex-button-register {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn-signin {
    height: 46px;
    width: 336px;
    border-radius: 8px;
    border-style: none;
    background-color: #ED6D25;
    padding: 8px 84px 11px 84px;
}

.btn-signin-register {
    height: 46px;
    width: 336px;
    border-radius: 8px;
    border-style: none;
    background-color: #ED6D25;
    margin-top: 5px;
    padding: 8px 84px 11px 84px;
}

.signin-description {
    width: 104px;
    color: #FFFFFF;
    height: 19px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}

.btn-signup {
    height: 46px;
    width: 336px;
    border-radius: 8px;
    border-style: none;
    margin-top: 20px;
    padding: 8px 84px 11px 84px;
}

.signup-description {
    color: #ED6D25;
    width: 110px;
    height: 19px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}

.anchor-password {
    color: #ED6D25;
    margin-top: 22px;
}

.validation {
    opacity: 0.9;
    height: 40px;
    background-color: rgb(235, 112, 112);
    border-radius: 6px;
    text-align: center;
    display: flex;
    margin-top: 8px;
    align-items: center;
    justify-content: center;
}

.validation-message {
    height: 19px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}

.invalid-input {
    outline: none;
    width: 336px;
    height: 51px;
    border-radius: 8px;
    background-color: #EFF3F8;
    border-color: red;
}

.invalid-input-flex {
    outline: none;
    width: 162px;
    height: 51px;
    margin: 5px;
    border-radius: 8px;
    background-color: #EFF3F8;
    border-color: red;
}

.invalid-input:focus {
    box-shadow: none;
}

.errors {
    color: red;
    height: 19px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    margin: 5px;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 5px;
}

.checkbox input {
    height: 0;
    width: 0;
}

.checkbox {
    width: 145px;
    height: 19px;
    color: #868686;
    padding-left: 30px;
    display: block;
    position: relative;
    user-select: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}

.checkmarkPassword {
    position: absolute;
    top: 0;
    left: 7px;
    height: 14px;
    width: 14px;
    border-radius: 4px;
    background-color: #dedbdb;
    border: 1px solid #c9c9c9;
}

.checkbox input:checked ~ .checkmarkPassword {
  background-color: #ED6D25;
}

/* Styles for the modal */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
  
  /* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
  /* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  

@media screen and (max-width: 1239px) {
    .btn-signin {
        margin-right: 15px;
        margin-left: 15px;
    }

    .btn-signup {
        margin-right: 15px;
        margin-left: 15px;
    }

    .input {
        margin-right: 15px;
        margin-left: 15px;
    }

    .description-input {
        padding-left: 10px;
    }
}

@media screen and (max-width: 1179px) {
    .container-form {
        margin-right: 20px;
    }
}

@media screen and (max-width: 420px) {
    .container-form {
        width: 320px;
        height: 544px;
        margin-right: 0px;
        margin-top: 13%;
    }

    .input-register {
        width: 272px;
    }

    .input-flex {
        width: 127px;
    }

    .input-select {
        width: 149px;
    }

    .input {
        width: 280px;
    }

    .invalid-input {
        width: 280px;
    }

    .password-flex {
        margin-right: 33%;
    }

    .btn-signin {
        width: 280px;
    }

    .btn-signup {
        width: 280px;
    }

    .container-form {
        height: 586px;
    }
}