.container {
  background: white;
  border-radius: 16px;
  height: 0 auto;
  padding-block-end: 24px;
}

.friends {
  display: flex;
  justify-content: center;
}

.friends p {
  color: #4b4b4b;
  font-size: 16px;
  font-weight: 500;
  padding-block: 24px 30px;
  margin-inline: 0px 5.9rem;
  justify-content: center;
}

.friends a {
  text-decoration: none;
  color: #ed2590;
  font-size: 14px;
  padding-block: 24px 30px;
}

.friendsView {
  display: grid;
  grid-template-columns: repeat(3, 4.5rem);
  grid-gap: 20px;
  justify-content: center;
  margin-right: 20px;
}

.friendsView li {
  list-style-type: none;
  text-align: center;
}

.friendsView .img {
  width: 56px;
  height: 56px;
  border-radius: 100px;
  margin-left: 20px;
}

.friendsView li p {
  font-size: 14px;
  color: #4b4b4b;
  margin-left: 20px;
}

.p {
  margin-left: 20px;
}

@media screen and (max-width: 1335px) {
  .container {
    margin-right: 12px;
  }
}

@media screen and (max-width: 1310px) {
  .container {
    margin-left: 12px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 950px) {
  .container {
    margin-left: 12px;
    margin-right: 30px;
  }
}

@media (max-width: 360px) {
  .container {
    width: 318px;
    margin-left: 30px;
    margin-top: 32px;
  }
}
